/* Based on the default lighttpd styles, this butters up the UI */


a,
a:active {
    text-decoration: none;
    color: blue;
}

a:visited {
    color: #48468F;
}

a:hover,
a:focus {
    text-decoration: underline;
    color: red;
}

body {
    background-color: #FFDF3F;
}

h2 {
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;
}

table {
    margin-left: 12px;
}

th,
td {
    font: 90% monospace;
    text-align: left;
}

th {
    font-weight: bold;
    padding-right: 14px;
    padding-bottom: 3px;
}

td {
    padding-right: 14px;
}

td.s,
th.s {
    text-align: right;
}

/* Don't display the .. nav tool. */
tbody tr.d:first-of-type
{
    display: none;
}

div.list {
    background-color: white;
    border-top: 1px solid #646464;
    border-bottom: 1px solid #646464;
    padding-top: 10px;
    padding-bottom: 14px;
}

div.foot {
    /* No need to display the lighttpd version; this is user-facing. */
    display: none;
}